<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<footer>
  <a class="title" href="#">
    <img
      src="/images/soccer-ball-variant.png"
      width="50"
      height="50"
      alt=""
      class=""
    />
    World Cup 2022
  </a>
</footer>