<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/images/soccer-ball-variant.png" width="50" height="50" alt="" />
    World Cup 2022
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nations">Nation
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Player</a>
        <span class="sr-only">(current)</span></a>
      </li>
      {{#if (isTrue user.isAdmin)}}
        <li class="nav-item">
          <a class="nav-link" href="/users/listuser">List User</a>
        </li>
      {{/if}}
    </ul>
    
    
    {{#if isAuthenticated }}
      <div class="btn-group">
        <button
          type="button"
          class="btn"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img class="avatar" src={{user.image}} width="45" height="45"/>
        </button>
        <ul class="dropdown-menu dropdown-menu-end p-1">
          <li class="item-btn mb-1">
            <a href="/users/infor/{{user._id}}">
              <i class="fa-regular fa-user"></i>Information
            </a>
          </li>
          <li class="item-btn mb-1">
            <a href="/users/logout">
              <i class="fa-solid fa-right-to-bracket"></i>Logout
            </a>
          </li>
        </ul>
      </div>
    {{else}}
      <a href="/users/login">  
        <button class="login-btn">Login</button>
      </a>
    {{/if}}
  </div>
</nav>