{{! Delete form hidden }}
<form action="POST" name="player-form"></form>

<!-- Modal -->
<div
  class="modal fade"
  id="deletePlayerModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete player</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Do you really want to delete player?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          id="btn-delete-player"
          type="button"
          class="btn btn-danger"
        >Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() { 
        var playerId;
        var deleteForm = document.forms['player-form']; 
        var btnDeletePlayer = document.getElementById('btn-delete-player');
        $('#deletePlayerModal').on('show.bs.modal', function(event) { 
            var button = $(event.relatedTarget); 
            playerId = button.data('id'); 
            });
        btnDeletePlayer.onclick = function() { 
            deleteForm.method = "POST";
            deleteForm.action = '/players/delete/' + playerId + '?_method=DELETE';
            deleteForm.submit(); 
            } 
    });

</script>