<div class="modal fade" id="updateModalUser" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update User Information</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="post" id="edit-user-form">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">User Name</label>
            <input
              id="user-input-userName"
              name="userName"
              type="text"
              class="form-control"
              placeholder="userName"
            />
            <p class="message-error"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input
              id="user-input-fullName"
              name="fullName"
              type="text"
              class="form-control"
              placeholder="fullName"
            />
            <p class="message-error"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Year of bidth</label>
            <input
              id="user-input-YOB"
              name="YOB"
              type="number"
              class="form-control"
              placeholder="Year of bidth"
            />
            <p class="message-error"></p>
          </div>
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input
              id="user-input-image"
              name="image"
              type="url"
              class="form-control"
              placeholder="image url"
            />
            <p class="message-error"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("#edit-user-form");
    const usernameInput = form.querySelector("input[name='userName']");
    const nameInput = form.querySelector("input[name='fullName']");
    const imageInput = form.querySelector("input[name='image']");
    const yearInput = form.querySelector("input[name='YOB']");
    const errorTags = form.querySelectorAll(".message-error");

    form.addEventListener("submit", function(event) {
      event.preventDefault();
      const usernameValue = usernameInput.value.trim();
      const nameValue = nameInput.value.trim();
      const yearValue = yearInput.value.trim();
      const imageValue = imageInput.value.trim();

      if (!usernameValue) {
        errorTags[0].textContent = "Please enter user name.";
      } else {
        errorTags[0].textContent = "";
      }

      if (!nameValue) {
        errorTags[1].textContent = "Please enter full name.";
      } else {
        errorTags[1].textContent = "";
      }

      if (!yearValue) {
        errorTags[2].textContent = "Please enter year of birth.";
      } else {
        errorTags[2].textContent = "";
      }

      if (!imageValue) {
        errorTags[3].textContent = "Please enter an image URL.";
      } else {
        errorTags[3].textContent = "";
      }

      if (nameValue && yearValue && imageValue) {
        form.submit();
      }
    });
  });
</script>