<html lang="en">

  <head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    {{! Font Awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>

  <body>
    <div class="login">
      <h1 class="title">
        <img
          src="/images/soccer-ball-variant.png"
          width="50"
          height="50"
          alt=""
        />Football
        <span>player</span>
      </h1>
      <div class="box-input">
        <h2>Register</h2>
        <form method="post" class="register-form">
          <div>
            <div class="field">
              <i class="fa-solid fa-user"></i>
              <input
                class="input"
                name="username"
                type="text"
                placeholder="Username"
              />
            </div>
            <p class="message-error"></p>
          </div>
          <div>
            <div class="field">
              <i class="fa-solid fa-user"></i>
              <input
                class="input"
                name="email"
                type="text"
                placeholder="Email"
              />
            </div>
            <p class="message-error"></p>
          </div>
          <div>
            <div class="field">
              <i class="fa-solid fa-lock"></i>
              <input
                class="input is-success"
                name="password"
                type="password"
                placeholder="Password"
              />
            </div>
            <p class="message-error"></p>
          </div>
          <div>
            <div class="field">
              <i class="fa-solid fa-file-signature"></i>
              <input
                class="input is-success"
                name="fullName"
                type="text"
                placeholder="Name"
              />
            </div>
            <p class="message-error"></p>
          </div>
          <div>
            <div class="field">
              <i class="fa-regular fa-calendar"></i>
              <input
                class="input is-success"
                name="YOB"
                type="number"
                placeholder="Year of birth"
              />
            </div>
            <p class="message-error"></p>
          </div>
          <div class="control">
            <button type="submit" class="btn login-btn">Register</button>
          </div>
        </form>
        <p>Do you already have an account?
          <a href="/users/login">Sign in</a>
        </p>
      </div>
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-warning" role="alert">
            {{this.msg}}
          </div>
        {{/each}}
      {{/if}}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() { 
        const form = document.querySelector(".register-form"); 
        const usernameInput = form.querySelector("input[name='username']"); 
        const emailInput = form.querySelector("input[name='email']"); 
        const passwordInput = form.querySelector("input[name='password']"); 
        const fullnameInput = form.querySelector("input[name='fullName']"); 
        const yobInput = form.querySelector("input[name='YOB']"); 
        const errorTags = form.querySelectorAll(".message-error"); 
        const errMsg = document.querySelector('.error'); 

        form.addEventListener("submit", function(event) { 
          event.preventDefault(); 
          const usernameValue = usernameInput.value.trim(); 
          const emailValue = emailInput.value.trim(); 
          const passwordValue = passwordInput.value.trim(); 
          const fullnameValue = fullnameInput.value.trim(); 
          const yobValue = yobInput.value.trim();

          if(!usernameValue) { 
            errorTags[0].textContent = "Please enter user name."; 
          } else { 
            errorTags[0].textContent = ""; 
          } 

          if(!emailValue) { 
            errorTags[1].textContent = "Please enter email."; 
          } else { 
            errorTags[1].textContent = ""; 
          } 

          if (!passwordValue) {
            errorTags[2].textContent = "Please enter password."; 
          } else {
            errorTags[2].textContent = ""; 
          } 

          if (!fullnameValue) {
            errorTags[3].textContent = "Please enter full name."; 
          } else {
            errorTags[3].textContent = ""; 
          } 

          if (!yobValue) {
            errorTags[4].textContent = "Please enter year of birth."; 
          } else { 
            errorTags[4].textContent = ""; 
          }

          if (errMsg) { 
            event.preventDefault(); 
          } 
            
          if (usernameValue && passwordValue && fullnameValue && yobValue) { 
            form.submit(); 
          } 
        }); 
      });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    >
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    >
    </script>
  </body>

</html>