<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    {{! Font Awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Forgot password</title>
  </head>

  <body>
    <div class="login">
        <h1 class="title">
        <img
          src="/images/soccer-ball-variant.png"
          width="50"
          height="50"
          alt=""
        />Football
        <span>player</span>
      </h1>
      <div class="box-input">
        <h2>Verify OTP</h2>
        <form
          action="/users/password/reset?_method=PUT"
          method="POST"
          class="login-form"
        >
         <div>
            <div class="field">
              <i class="fa-solid fa-user"></i>
              <input
                maxlength="6"
                minlength="0"
                placeholder="OTP"
                name="otp"
              />
            </div>
            <p class="message-error"></p>
          </div>
            
            {{#if (isNotEmpty success_msg)}}
                <p class="success">{{success_msg}}<p >
            {{/if}}
            {{#if (isNotEmpty error_msg)}}
                <div class="error">
                {{error_msg}}
                </div>
            {{/if}}

          <div class="control">
            <button type="submit" class="btn login-btn">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

</html>