@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Inter:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Tiro+Devanagari+Sanskrit&display=swap");

//Fonts
$font-family-roboto: "Roboto", sans-serif;
$font-family-inter: "Inter", sans-serif;
$font-family-segoe: "Segoe UI", sans-serif;
$font-family-poppin: "Poppin", sans-serif;

//Color
$white: #ffffff;
$black: #000000;
$orange: #ff5527;
$blue-main: #142978;
$blue-dark: #102160;
$blue-light: #e7e9f1;

@mixin flex($align-item, $justify-content, $flex-direction) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-poppin;
}

.error {
  width: 100%;
  text-align: center;

  .e404 {
    width: 42%;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px;
    color: #ffffff;
    background: #ff5527;
    font-weight: 900;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.4s all linear;
    margin-top: 20px;

    &:hover {
      background: #142978 !important;
    }
  }
}

.navbar {
  height: fit-content;
  padding: 15px 20px;
  background-color: $white;
  box-shadow: 0px 2px 8px #142a788c;

  .navbar-brand {
    @include flex(center, center, row);
    gap: 10px;
    color: #142978;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-collapse {
    .navbar-nav {
      .active {
        color: $white;
        background-color: $orange;
      }
      .nav-item {
        width: 120px;
        text-transform: uppercase;

        .nav-link {
          padding: 5px 10px;
          color: #142978;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: center;
          transition: all 0.3s linear;

          &:hover {
            color: $white;
            background-color: $orange;
            transform: scale(1.02);
          }
        }
      }
    }

    .btn-group {
      .btn {
        outline: none;
        border: none;

        img {
          border-radius: 99px;
        }
      }

      .dropdown-menu {
        min-width: 2rem !important;
        padding: 5px !important;

        li {
          a {
            text-decoration: none;
            @include flex(center, center, unset);
            padding: 5px 10px;
            gap: 10px;
            height: 40px;
            color: #142978;
            font-size: 18px;

            &:hover {
              background: #e7e9f1;
            }
          }
        }
      }
    }
  }

  .login-btn {
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 40px;
    padding: 0 30px;
    color: #ffffff;
    background: #ff5527;
    font-weight: 900;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.4s all linear;

    &:hover {
      background: #142978 !important;
    }
  }
}

.carousel {
  height: fit-content;

  .carousel-inner {
    .carousel-item {
      .row {
        background-color: $blue-light;

        .col-sm-12 {
          img {
            height: 100%;
          }
          .content {
            padding: 30px 30px;

            .number-page {
              width: 50px;
              height: 50px;
              font-size: 2rem;
              font-weight: 700;
              color: $white;
              background-color: $orange;
            }

            .content-inner {
              padding: 20px 0 20px 60px;

              h1 {
                font-size: 46px;
                font-weight: 900;
                color: $blue-main;
                margin-bottom: 30px;
              }

              p {
                font-size: 18px;
                margin-bottom: 30px;
              }

              .line {
                background: #ff5527;
                height: 3px;
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}

.nation {
  .title {
    line-height: 44px;
    font-size: 36px;
    font-weight: 900;
    color: $blue-main;
  }

  .nations-content {
    .load-more-btn {
      outline: none;
      border: none;
      cursor: pointer;
      line-height: 40px;
      padding: 10 15px;
      color: #ffffff;
      background: #ff5527;
      font-size: 18px;
      font-weight: 800;
      border-radius: 3px;
      letter-spacing: 1px;
      transition: 0.4s all linear;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        background: #142978;
      }
    }
    .card-nation {
      .card-nation-content {
        border: 10px solid $blue-light;
        border-radius: 5px;

        img {
          height: 170px;
          border-radius: 5px;
        }

        h5 {
          color: gray;
          font-weight: 700;
        }
      }
    }
  }
}

.player {
  .containers {
    padding: 0 50px;
  }
  .title {
    line-height: 44px;
    font-size: 36px;
    font-weight: 900;
    color: $blue-main;
    margin-bottom: 40px;
  }

  .player-content-list {
    @include flex(flex-start, flex-start, column);
    gap: 15px;
    width: 90%;
    height: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: $blue-light;
    overflow: hidden;
    box-shadow: 4px 4px 10px #142a7853;

    &:hover {
      .player {
        transform: scale(1.1);
      }
    }

    .img-box {
      @include flex(center, center, unset);
      width: 100%;
      position: relative;

      .player {
        height: 280px;
        transition: all 0.3s ease-in-out;
      }

      .nation {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px
      }
    }

    .box-content-action {
      @include flex(unset, space-between, column);
      gap: 20px;
      width: 100%;

      .content {
        color: #fff;
        text-align: center;

        .name {
          color: #142978;
          font-weight: 800;
          letter-spacing: 0.8px;
          margin-bottom: 20px;
        }

        .line {
          justify-content: space-between;
          align-items: center;
          padding: 5px 5px;
          background: $blue-main;
          margin-bottom: 10px;

          .tag {
            font-weight: bold;
          }
        }

        .line-goal {
          @include flex(center, center, unset);
          width: 100%;

          label {
            @include flex(center, center, row);
            gap: 3px;
            padding: 5px 15px;
            background: #ff5527;
            border-radius: 5px;
          }
        }
      }

      .action {
        text-align: right;

        .detail-btn {
          padding: 10px 9px;
          border-radius: 99px !important;
          width: fit-content;
          height: fit-content;
          color: #000;
          font-size: 19px;
          background: $white;
          margin-right: 5px;
        }

        .btn-group {
          .dropdown-action {
            border-radius: 99px !important;
            width: 40px;
            height: 40px;
            color: #000;
            font-size: 21px;
            background: $white;
          }

          .dropdown-menu {
            min-width: 2rem !important;
            li {
              .read-btn {
                @include flex(center, center, unset);
                gap: 5px;
              }
            }
          }
        }
      }
    }
  }

  .load-more-btn {
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 40px;
    padding: 10 15px;
    color: #ffffff;
    background: #ff5527;
    font-size: 18px;
    font-weight: 800;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.4s all linear;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: #142978;
    }
  }
}

footer {
  height: 100px;
  @include flex(center, center, row);
  box-shadow: 2px 1px 8px #142a788c;

  .title {
    color: $blue-main;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;

    img {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .carousel {
    .carousel-inner {
      .carousel-item {
        .row {
          .col-sm-12 {
            .content {
              .content-inner {
                padding: 20px 0;
              }
            }
          }
        }
      }
    }
  }

  .nation {
    .nations-content {
      .card-nation {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    .carousel-inner {
      .carousel-item {
        .row {
          .col-sm-12 {
            .content {
              .content-inner {
                padding: 20px 0;
              }
            }
          }
        }
      }
    }
  }

  .nation {
    .nations-content {
      .card-nation {
        margin-bottom: 40px;

        .card-nation-content {
          width: 80%;
          margin: auto;
          position: relative;
          border: 10px solid $blue-light;

          img {
            height: 200px;
          }
        }
      }
    }
  }
}
