@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Inter:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&family=Tiro+Devanagari+Sanskrit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppin", sans-serif;
}

.nation-title {
  background: #fff;
  border-radius: 20px;
  box-shadow: 3px 2px 8px rgba(20, 42, 120, 0.5490196078);
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.nation-title .inner {
  background-color: rgba(255, 86, 39, 0.7450980392);
  border-radius: 10px;
}
.nation-title .inner h1 {
  line-height: 44px;
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
}

.container .add-new {
  font-size: 20px;
  color: #fff;
  background-color: #142978;
  letter-spacing: 1px;
}
.container .add-new:hover {
  background-color: #142978 !important;
  color: #fff !important;
}

.player .containers {
  padding: 0 70px;
}
.player .title {
  line-height: 44px;
  font-size: 36px;
  font-weight: 900;
  color: #142978;
  margin-bottom: 40px;
}
.player .player-content-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  height: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #e7e9f1;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(20, 42, 120, 0.3254901961);
}
.player .player-content-list:hover .player {
  transform: scale(1.1);
}
.player .player-content-list .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  width: 100%;
  position: relative;
}
.player .player-content-list .img-box .player {
  height: 280px;
  transition: all 0.3s ease-in-out;
}
.player .player-content-list .img-box .nation {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
}
.player .player-content-list .box-content-action {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.player .player-content-list .box-content-action .content {
  color: #fff;
  text-align: center;
}
.player .player-content-list .box-content-action .content .name {
  color: #142978;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}
.player .player-content-list .box-content-action .content .line {
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background: #142978;
  margin-bottom: 10px;
}
.player .player-content-list .box-content-action .content .line .tag {
  font-weight: bold;
}
.player .player-content-list .box-content-action .content .line-goal {
  gap: 20px;
}
.player .player-content-list .box-content-action .content .line-goal label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  padding: 5px 15px;
  background: #ff5527;
  border-radius: 5px;
}
.player .player-content-list .box-content-action .action {
  text-align: right;
}
.player .player-content-list .box-content-action .action .detail-btn {
  padding: 10px 9px;
  border-radius: 99px !important;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #000;
  font-size: 19px;
  background: #ffffff;
  margin-right: 5px;
  outline: none;
  border: none;
}
.player .player-content-list .box-content-action .action .btn-group .dropdown-action {
  border-radius: 99px !important;
  width: 40px;
  height: 40px;
  color: #000;
  font-size: 21px;
  background: #ffffff;
  outline: none;
  border: none;
}
.player .player-content-list .box-content-action .action .btn-group .dropdown-menu {
  min-width: 2rem !important;
}
.player .player-content-list .box-content-action .action .btn-group .dropdown-menu li .read-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  gap: 5px;
}

.modal .modal-dialog .modal-content .modal-header {
  background-color: #142978;
}
.modal .modal-dialog .modal-content .modal-header .modal-title,
.modal .modal-dialog .modal-content .modal-header .btn-close {
  color: #fff;
}
.modal .modal-dialog .modal-content .modal-body input {
  overflow: hidden;
}
.modal .modal-dialog .modal-content .modal-body .form-label {
  min-width: 100px;
}
.modal .modal-dialog .modal-content .modal-body .form-select {
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=players.css.map */